@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To <span class="bg-primary rounded-4 p-2" style="color: palegreen;">BookLendr</span></h3>
    <h4>Efficiently Manage Your Book Lending Process</h4>
</div>
